p {
    margin: 0;
    padding: 0;
}

.container {
    width: 961px;
    margin: 0 auto;
}

.basket_wrapper {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background: #90EE90;
    
    .infoBasket {
        grid-area: leftBar;
    }

    h2,
    .infoBasket {
        text-align: center;
    }
}

.goodsWrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "leftBar goods goods goods" ". goods goods goods";
    grid-gap: 15px;

    .leftBar {
        grid-area: leftBar;
        background: brown;
        border: 1px solid black;
        border-radius: 5px;

        h4 {
            text-align: center
        }
    }

    #goods {
        grid-area: goods;
        background: #DCDCDC;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 15px;
    
        .good {
            display: grid;
            grid-template-rows: 1fr;
            grid-gap: 15px;
            justify-content: space-around;
            border: 1px solid black;
            border-radius: 5px;
            padding: 15px;
            background: #F4A460;

            .goodIdStyle{
                text-align: center;
            }
    
            .buyGood,
            .removeGood {
                background: #90EE90;
                outline: none;
                border: 1px solid black;
                border-radius: 5px;
                padding: 5px 10px;
            }
        }
    }
}