// @font-face {
//     font-family: 'Eklektic-Normal';
//     src: url(../fonts/Eklektic-Normal.otf)
// }

* {
    padding: 0;
    margin: 0;
}

body {
    margin:0;
    font: normal Arial, Verdana, sand-serif;
    height: 100%;
}

#particles-js{
    background:#232741;
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    z-index: 1;
}

.container {
    width: 961px;
    padding: 20px;
    margin: 150px auto 0;
    opacity: 0.9;
    position: relative;
    z-index: 2;
    

    #feedback {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        background: #fff;
        opacity: 0.9;
        padding: 20px;
        padding-top: 10px;
        border: 1px solid black;
        
        
        h2 {
            text-align: center;
            color: #232741;
            // font-family: 'Eklektic-Normal', sans-serif;
            font-size: 40px;
        }
    
        input,
        #citiesSelect {
            height: 35px;
        }

        input,
        #citiesSelect,
        #textArea {
            font-size: 1rem;
            padding-left: 10px;
        }

        #textArea {
            padding-top: 5px;
            font-family: Arial;
        }

        .inputWrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .fa-question-circle {
            margin-left: 5px;
            padding-left: 5px;
            font-size: 1.3rem;
            color: #232741;
            width: 30px;
            height: 30px;
            line-height: 1.9rem;
            // background: pink;
        }
        
        #nameWrap,
        #emailWrap,
        #telWrap,
        #textAreaWrap,
        #citiesSelectWrap {
            position: relative;
        
        }
        
        #name,
        #email,
        #tel,
        #textArea,
        #citiesSelect {
            width: 100%;
        }
        
        #btn {
            width: 100%;
        }

        .tooltip {
            font-size: 1rem;
        }
    }
}

